.App {
  text-align: center;
}

.letterBox {
  height: 55px;
  width: 55 px;
  color: white;
  font-size: 25px;
  background-color: rgb(127, 123, 123);
}
.letterContainer {
  /* background-color: rgb(127, 214, 132);  */
  display: flex; 
  justify-content: center;
  gap: 10px;
  margin: 5px 5px; 
} 
.yellow {
  background-color: goldenrod;
}
.green {
  background-color: green;
}